__pycache__
.venv

# Build stuff
*.egg-info/
dist/
build/

.DS_Store

# pytest related cruft
test-results.xml
/.coverage
.pytest_cache
report.md
/.hypothesis
/htmlcov
/junit

.mypy_cache

.ruff_cache

.vscode