name: Continuous Integration
run-name: ${{ github.actor }} has pushed content to GitHub

on: [push]

jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install poetry
        run: pipx install poetry==2.2.1

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          cache: "poetry"

      - name: Install dependencies
        run: poetry install

      - name: Linting
        run: poetry run ruff check .
      - name: Formatting
        run: poetry run black --check .
      - name: Type checking
        run: poetry run mypy dev_dependencies tests

      - name: Tests
        run: |
          poetry run pytest --verbose --emoji --md report.md
          cat report.md >> $GITHUB_STEP_SUMMARY
      - name: Upload test results
        uses: actions/upload-artifact@v6
        with:
          name: pytest-results
          path: |
            junit/test-results.xml
            htmlcov/*
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}

      - name: Build package
        run: poetry build
